<!-- nav -->
<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between border-b-2 border-gray-300 py-6 md:justify-start md:space-x-10">
      <nav class="hidden md:flex space-x-10 justify-between items-center bg-gray-50">
        <a href="#">
          <span class="sr-only">MyHours</span>
          <img class="h-8 w-auto sm:h-10"
            src="https://mcmath.sd38.bc.ca/sites/mcmath.sd38.bc.ca/files/Teacher%20office%20hours.png" alt="MyHours">
        </a>
        <a class="text-base font-medium text-gray-500 hover:text-gray-900" routerLink="/home">Home</a>
        <a class="text-base font-medium text-gray-500 hover:text-gray-900" routerLink="/projects">Projects</a>
        <a class="text-base font-medium text-gray-500 hover:text-gray-900" routerLink="/users">Users</a>
      </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a (click)="logout()"
          class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
          routerLink="/login">LogOut</a>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8" *ngIf="isTrackin">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto"
        src="https://mcmath.sd38.bc.ca/sites/mcmath.sd38.bc.ca/files/Teacher%20office%20hours.png">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Tracking!
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <input id="time" name="time" type="text" [(ngModel)]="time" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Track your time">
        </div>
      </div>

      <div>
        <button (click)="tracking()" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save
        </button>
        <button (click)="isTrackin = false" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cancel
        </button>

      </div>
    </form>
  </div>
</div>

<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8" *ngIf="isReportProject">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto"
        src="https://mcmath.sd38.bc.ca/sites/mcmath.sd38.bc.ca/files/Teacher%20office%20hours.png">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Project Reports!
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <div class="rounded-md shadow-sm -space-y-px" id="printProjectReport">
        <table class="min-w-max w-full table-auto" id="projectReport">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Total Hours of this project</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <h1 id="reportTitle" style="font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Total of hours this project: <span [innerHTML]="totalPro"></span>
                  </h1>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <button (click)="excelproReport()" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Export Excel
        </button>
        <button (click)="pdfproReport()" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Export PDF
        </button>
        <button (click)="isReportProject = false" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cancel
        </button>

      </div>
    </form>
  </div>
</div>

<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8" *ngIf="isReportUser">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto"
        src="https://mcmath.sd38.bc.ca/sites/mcmath.sd38.bc.ca/files/Teacher%20office%20hours.png">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        User Reports!
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <div class="rounded-md shadow-sm -space-y-px" id="printUserReport">
        <table class="min-w-max w-full table-auto" id="userReport">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Total Hours</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <h1 id="reportTitle" style="font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Total of hours this user work: <span [innerHTML]="totalUser"></span>
                  </h1>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <button (click)="exceluserReport()" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Export Excel
        </button>
        <button (click)="pdfuserReport()" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Export PDF
        </button>
        <button (click)="isReportUser = false" type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cancel
        </button>

      </div>
    </form>
  </div>
</div>

<!-- component -->
<div class="overflow-x-auto">
  <div class="w-full flex justify-center min-w-screen bg-gray-100 bg-gray-100 font-sans overflow-hidden">
    <div class="w-full lg:w-5/6">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Project</th>
              <th class="py-3 px-6 text-center">Description</th>
              <th class="py-3 px-6 text-center">Actions</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor="let project of projects">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  {{project.pname}}
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                {{project.description}}
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                    <svg (click)="tracktime(project.id)" xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </div>
                  <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                    <!--reportesproyecto-->
                    <svg (click)="proReport(project.id)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                    </svg>
                  </div>
                  <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                    <!--reportesuser-->
                    <svg (click)="userReport()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8" *ngIf="isReportUser">
  <div class="max-w-md w-full space-y-8">
    <div>
      <canvas id= "myChart"></canvas>
    </div>
  </div>
</div>